.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  transition: 0.1s ease-in-out;
  z-index: 10;
  align-items: center;
}

.navbar__inside {
  flex: 1;
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: fit-content;
  height: 100%;

  padding-inline-start: 20px;

  cursor: pointer;
}

.navbar__options {
  flex: 2;
  height: 100%;

  display: flex;
  padding-inline-end: 20px;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;
}

.navbar__options > a {
  display: inline;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  font-variant: small-caps;
  font-weight: 900;
}
.navbar__options > a:hover {
  z-index: 1000;
  text-shadow: 1px 1px 3px blue;
  transform: scale(1.08);
  color: #171c28;
}
.navbar__inside > .navbar__logo {
  width: 200px;
  height: 10vh;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: 24px;
}

.navbar__inside > .navbar__menu {
  /* display; */
  opacity: 0;
  display: none;
  width: 100px;
  height: 10vh;
}
@media only screen and (min-width: 280px) and (max-width: 780px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    height: 70px;
  }
  .navbar__inside {
    flex: 0.3;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__inside > .navbar__menu {
    display: flex;
    opacity: 1;
    align-items: center;
  }
  .navbar__options > li:nth-child(1) {
    margin-top: 20px;
  }
  .navbar__options > inputS {
    margin-bottom: 20px;
  }
  .navbar__options {
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    transition: 0.5s ease-in-out;
  }
  .navbar__options > a {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .navbar__logo > span {
    display: flex;
    margin-right: 25px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
  }
}
